[tool.ruff]
line-length = 120
target-version = "py310"

[tool.ruff.lint]
select = ["E9", "F"]

[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
show_error_codes = true
pretty = true
explicit_package_bases = true
namespace_packages = true
